<div class="jumbotron">
    <h1>Hello, search!</h1>

    <form role="form">
        <div class="form-group">
            <label for="s">Search</label>
            <input type="text" class="form-control" id="s" ng-change="search.search()" ng-model="search.query" placeholder="Search for stuff" autofocus>
        </div>
    </form>
    <div id="stats">
        <my-search-stats/>
    </div>
</div>
<div id="results">
    <div ng-repeat="h in search.hits">
        <my-search-hit hit="h"/>
    </div>
</div>